@using MHClub.Models.Ads
@using MHClub.Utils
@model List<AdsIndexViewModel>

@{
    ViewBag.ColumnsCount ??= 4;
}

<div class="row row-cols-@ViewBag.ColumnsCount">
    @foreach (var ad in Model)
    {
        <div class="col pe-2 pb-2">
            <div class="card ad-card h-auto" onclick="location.href = '@Url.Action("Single", "Ads", new { id = ad.Id })';">
                @{
                    var image = ad.Images?.FirstOrDefault();
                }
                <div class="ad-card-image">
                    @if (image is null)
                    {
                        <img src="~/images/no-photo.png" class="card-img-top" alt="Без изображения">
                    }
                    else
                    {
                        <img src="@Url.Action("Get", "Media", new { path = image?.GetLocalPath() })" class="card-img-top" alt="Изображение товара">
                    }
                </div>
                <div class="ad-card-body">
                    <h5 class="ad-card-title text-truncate">@ad.Name</h5>
                    <p class="ad-card-price">@ad.Cost₽</p>
                    <p class="ad-card-date text-muted">@ad.CreationDate.ToString("dd.MM.yy")</p>
                </div>
            </div>
        </div>
    }
</div>