@model UserProfileDto

<div>
    <h4>@Model.Name</h4>
    <div>
        <p>Рейтинг: @Model.Rating</p>
        <p>Отзывы: @Model.ReviewsCount</p>
        <p>Кол-во объявлений: @Model.ReviewsCount</p>
        <p>Зарегистрирован: @Model.DateOfRegistration</p>
        <p>Скрыть телефон</p> 
    </div>
</div>
<div>
    <button
        onclick="location.href='@Url.Action("Logout", "Auth")';"
        class="layout-button">Выйти
    </button>
    <button
        onclick="location.href='@Url.Action("Logout", "Auth")';"
        class="layout-button">Редактировать
    </button>
    <button
        onclick="location.href='@Url.Action("Logout", "Auth")';"
        class="layout-button">Показать архивные объявления
    </button>
</div>