@model MHClub.Models.Ads.AdsCreateViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Новое объявление";
}

<div class="d-flex justify-content-center">
    <div class="col w-75">
        <a href="@ViewBag.ReturnUrl">
            <img src="images/arrow-left-s-line.png" alt="back"/>
        </a>
        <h4>@ViewData["Title"]</h4>

        @using (Html.BeginForm("Create", "Ads", FormMethod.Post, new
                {
                    enctype = "multipart/form-data"
                }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*<div class="form-group mb-1 w-100">
                <div class="col-md-10 w-100">
                    <div class="input-container">
                        @Html.TextBoxFor(m => m.Name, new
                        {
                            @class = "form-control w-100",
                            placeholder = "Введите название объявления",
                            type = "text"
                        })
                    </div>
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group mb-1 w-100">
                <div class="col-md-10 w-100">
                    @Html.LabelFor(m => m.ManufactureCountry, new
                    {
                    @class = "col-md-2 w-100 control-label"
                    })
                    <div class="input-container">
                        @Html.DropDownListFor(m => m.ManufactureCountry, (List<SelectListItem>)ViewBag.CountriesSelect, null, new
                        {
                            @class = "form-control w-100",
                            placeholder = "Выберите страну-производитель",
                            type = "text"
                        })
                    </div>
                    @Html.ValidationMessageFor(m => m.ManufactureCountry, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="d-flex justify-content-center">
                <label class="custom-file-upload">
                    @Html.TextBoxFor(m => m.ImageFiles.FirstOrDefault(), "", new
                    {
                        type = "file",
                        onchange = "upload(this)",
                        style = "display:none",
                        accept = "image/*"
                    })
                    <div id="img_container">
                        <div class="ratio ratio-1x1 rounded-circle overflow-hidden" style="width: 200px; height: 200px;">
                            <img id="profile-image" src="@Url.Action("Get", "Media", new { path = Model?.Images.FirstOrDefault() })" class="card-img-top img-cover" alt="avatar">
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg>
                    </div>
                </label>
            </div>*@

            <h4>Информация о доставке</h4>

            <h4>Калькулятор полной стоимости</h4>

            <h4>Информация о доставке</h4>

            <button>Разместить</button>
        }
    </div>
</div>