@using MHClub.Domain.Models
@using MHClub.Models.Ads
@model AdsIndexDto

@{
    Layout = "_Layout";
    ViewBag.ColumnsCount = 5;
}

<div class="d-flex flex-column gap-3 w-100 mb-3">
    <!-- Поиск и фильтры -->
    <div class="d-flex gap-2 w-100 align-items-center">
        @using (Html.BeginForm("Search", "Ads", FormMethod.Get, new
                {
                    @class = "w-100"
                }))
        {
            <div class="row w-100">
                <!-- Кнопка категорий -->
                <div class="col-3">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.AdsSearchViewModel.SelectedCategoryId, Model.AdsSearchViewModel.Categories ?? [],
                            "-- Выберите категорию --", new { @class = "form-select bg-light", style = "border: none; background-color: #EAEAEA;" })
                    </div>
                </div>

                <!-- Поле поиска -->
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi-search"></i>
                        </span>
                        @Html.TextBoxFor(m => m.AdsSearchViewModel.FilterText, new
                        {
                            type = "search",
                            @class = "form-control border-start-0",
                            placeholder = "Поиск...",
                            style = "border: none; background-color: #EAEAEA;"
                        })
                    </div>
                </div>
                <input type="submit" hidden/>
            </div>
        }
    </div>

    @*<!-- Выпадающий список категорий -->
    <div class="collapse bg-light p-3 rounded-3 shadow-sm" id="categoriesCollapse">
        <div class="row w-100">
            <!-- Первая группа категорий -->
            <div class="col-3">
                <div class="list-group" id="firstGroup">
                    @foreach (var category in ((List<Category>)ViewBag.Categories).Where(c => c.ParentCategoryId == null && c.Children?.Count > 0))
                    {
                        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#cat-@category.Id"
                                aria-expanded="false"
                                aria-controls="cat-@category.Id">
                            @category.Name
                            <i class="bi-chevron-right"></i>
                        </button>
                    }
                </div>
            </div>

            <!-- Вторая группа категорий -->
            <div class="col-3">
                <div id="secondGroup">
                    @foreach (var category in ((List<Category>)ViewBag.Categories).Where(c => c.Children?.Count > 0))
                    {
                        <div class="collapse" id="cat-@category.Id" data-bs-parent="#firstGroup">
                            <div class="list-group">
                                @foreach (var childCategory in category.Children.Where(c => c.Children?.Count > 0))
                                {
                                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#cat-@childCategory.Id"
                                            aria-expanded="false"
                                            aria-controls="cat-@childCategory.Id">
                                        @childCategory.Name
                                        <i class="bi-chevron-right"></i>
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Третья группа категорий -->
            <div class="col-3">
                <div id="thirdGroup">
                    @foreach (var category in ((List<Category>)ViewBag.Categories).Where(c => c.Children?.Count > 0))
                    {
                        @foreach (var childCategory in category.Children.Where(c => c.Children?.Count > 0))
                        {
                            <div class="collapse" id="cat-@childCategory.Id" data-bs-parent="#secondGroup">
                                <div class="list-group">
                                    @foreach (var secondChildCategory in childCategory.Children)
                                    {
                                        <button class="list-group-item list-group-item-action"
                                                type="button">
                                            @secondChildCategory.Name
                                        </button>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>*@

    @if (((List<AdsIndexViewModel>)ViewBag.Ads).Any())
    {
        @if (ViewBag.IsAfterSearch == true)
        {
            <h4>Объявления по вашему запросу</h4>
        }

        @await Html.PartialAsync("_AdsPartialView", (List<AdsIndexViewModel>)ViewBag.Ads)
    }
    else
    {
        @if (ViewBag.IsAfterSearch == true)
        {
            <h4>Объявлений по вашему запросу не найдено</h4>
        }
        else
        {
            <h4>Не найдены объявления</h4>
        }
    }
</div>

@section Scripts
{
    <script>
    // Дополнительные скрипты, если необходимо
</script>
}